
body{
    background: #040404;
    font-family: 'Lato', sans-serif;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container{
    width: 92%;
    margin: 0 auto;
    max-width: 1200px;
}