
*{
    margin: 0;
    padding: 0;
}

body{
    background: #040404;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box !important;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container{
    width: 92%;
    margin: 0 auto;
    max-width: 1200px;
}

.btn-primary:hover{
    border: none;
}

.intro{
    background: url("../img/background-header.jpg") no-repeat;
    background-size: cover;
    min-height: 65vh;
}

h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.linha{
    width: 100%;
    max-width: 63px;
    margin: 0 auto;
    border: 2px solid #E3E3E3;
    display: block;
    margin-bottom: 20px;
}

section{
    padding: 3rem 0;
    display: flex;
}

.box{
    padding: 35px;
    box-shadow: 0px 8px 20px -8px rgb(0 0 0 / 35%);
    border-radius: 10px;
    margin-bottom: 40px;
    max-width: 600px;
    width: 90%;
}

p{
    margin-bottom: 1rem;
}

/* Botão da Área do Aluno */
.btn-primary {
    display: inline-flex;
    align-items: center;
    font-size: .9rem;
    color: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    background: #7B2880;
    transition: background .7s;
    margin-top: 1rem;
}

/* Hover do Botão de Área do Aluno */
.btn-primary:hover {
    background: #fff;
    color: #7B2880;
    transition: background .7s;
    border: 1px solid #7B2880;
}

.btn-primary:hover .whatsapp-icon {
    fill: #7B2880 !important;
}