#servicos {
    background: #7C2C80;
    padding: 6rem;
    padding-bottom: 7rem;
}

#servicos h2 {
    color: #F5F5F5;
    
}

#servicos p {
    margin-bottom: 0;    
}

#servicos .linha {
    border-color: 2px solid #F5F5F5;
}

#servicos .containerCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

#servicos .card {
    text-align: center;
    background: #F5F5F5;
    padding: 3rem 1.5rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#servicos .card .linha {
    border: 2px solid #7C2C80;
    display: block;
    margin-bottom: 20px;
    width: 63px;
    max-width: 63px;
    margin: 20px 0;
}

#servicos .card h3 {
    font-size: 1.25rem;
    color: #311233;
}

#servicos .card .icone {
    width: 56px;
}

@media (max-width: 858px) {
    #servicos {
        padding: 3rem 1rem;
    }

    #servicos h2 {
        font-size: 1.5rem;
        
    }

    #servicos .containerCards {
        grid-template-columns: 1fr;
    }
}